83.166.233.95.nip.io {
	handle /webhook/* {
		reverse_proxy n8n:5678
	}
	handle /media/* {
		uri strip_prefix /media
		root * /var/media
		file_server
	}
	handle {
		reverse_proxy n8n:5678
	}
	log {
		output file /data/access.log
	}
}
